@media screen and (min-width: 600px) {
    .row {
        gap: 4em;
    }
}

.group {
    width: 100%;
    max-width: max-content;
}

.group h2 {
    margin-top: 18px;
}

.links > a {
    display: flex;
    padding-top: 6px;
    padding-bottom: 6px;
    align-items: center;
    gap: 8px;
}
