body {
    padding: 2em 1em;
}

.actions {
    display: flex;
    gap: 2em;
}

.actions a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.actions a img {
    filter: invert(100%);
}

.row {
    display: flex;
    gap: 10px;
    margin-top: 1em;
    width: 100%;
    max-width: 600px;
}

.innerForm {
    display: flex;
    gap: 10px;
    min-width: 0;
    flex-grow: 1;
}

.row:last-child {
    padding-bottom: 4em;
}

h2 {
    font-size: 20px;
    margin-top: 3em;
    margin-bottom: 10px;
}

input {
    min-width: 0;
    flex-grow: 1;
}

.small-row {
    max-width: 140px;
}

@media screen and (min-width: 800px) {
    body {
        padding: 2em 10em;
    }
}
