body {
    padding: 2em 1em;
}

@media screen and (min-width: 800px) {
    body {
        padding: 2em 10em;
    }
}

p {
    max-width: 400px;
    margin-top: 2em;
}

form {
    width: 100%;
    max-width: 400px;
    margin-top: 2em;
}

form textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 100px;
}

form button {
    width: 100%;
}
