.page {
    padding: 2em 1.5em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 3em;
}

.group {
    width: 100%;
}

h2 {
    margin-top: 18px;
    margin-bottom: 6px;
}

div > a {
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
}

@media screen and (min-width: 600px) {
    .page {
        padding: 2em 10em
    }
    .group {
        max-width: 230px;
    }
}
