{{define "head"}}
<title>{{ .title }}</title>
<meta charset="utf-8" />
<meta name="description" content="A minimalistic start page with your collection of links to important sites." />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/assets/css/base.css" />
<link rel="icon" type="image/png" href="/assets/favicons/favicon-16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/assets/favicons/favicon-32.png" sizes="32x32" />
<link rel="icon" type="image/svg+xml" href="/assets/favicons/favicon.svg" />
<link rel="apple-touch-icon" href="/assets/favicons/favicon-180.png" />
<style>
body {
    font-family: {{ .fontFamily }};
}
</style>
{{end}}
