<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "head" .}}
        <link rel="stylesheet" href="assets/css/auth.css" />
    </head>
    <body>
        <div class="page">
            <form action="{{.formAction}}" method="POST">
                <h1>{{.title}}</h1>
                <p>{{.description}}</p>
                <input
                    placeholder="Username"
                    name="username"
                    type="text"
                    required
                />
                <input
                    placeholder="Password"
                    name="password"
                    type="password"
                    required
                />
                <button type="submit">{{.button}}</button>
            </form>
        </div>
    </body>
</html>
