<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "head"}}
        <link rel="stylesheet" href="assets/error.css" />
    </head>
    <body>
        <div class="page">
            <div class="content">
                <h1>Error</h1>
                <code>{{.error}}</code>
                <p>
                    <a href="/">Main page</a>
                </p>
            </div>
        </div>
    </body>
</html>
