<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "head"}}
        <link rel="stylesheet" href="assets/css/index.css" />
    </head>
    <body>
        <div class="page">
            <h1>{{.WebsiteTitle}}</h1>
            {{if not .groups}}
            <p>
                You don't have any links.
                Go to <a href="/settings" style="text-decoration: underline">settings</a> and create one.
            </p>
            {{else}}
            <a href="/settings">Settings</a>
            {{end}}
            
            <div class="row">
                {{range .groups}}
                <div class="group">
                    <h2>{{.Name}}</h2>
                    {{range .Links}}
                        <a href="{{.Href}}" target="_blank" rel="noreferrer">
                            {{ if .Icon }}
                                <img src="/assets/icons/{{.Icon}}.svg" width="20" height="20" />
                            {{ end }}
                            {{.Name}}
                        </a>
                    {{end}}
                </div>
                {{end}}
            </div>
        </div>
    </body>
</html>
